nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

ul {
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 10px;
}

li {
    list-style: none;     
}